
/*MobilePhone*/

@media only screen 
    and (min-width: 320px)  {
   	
    body {
    	background-color: #EEE;

    	/*max-width: 375px;*/
    	box-sizing: border-box;

    }

   	.container {
   		width: 100%;
   		box-sizing: border-box;
   		display: flex;
   		flex-direction: column;
   	}

   	.about, .main {
   		background-color: #FFF;

   		box-sizing: border-box;
   		padding: 0.5em;
   	}

   	.about {
   		width: 100%;
   		
   	}

   	.main {
   		margin-top: 0.5em;
   	}

   	.about img {
   		width: 90vw;
   	}

		.main input[type=text], .main textarea {
			width: 100%;
		}

		.main input[type=submit] {
			background-color: #3460B0;

			color: #FFF;
			width: 120px;
			height: 40px;
			border: none;
			margin: 1em 0;
		}		 



		/*footer
		*/
		.footer {
			background-color: #111;
			color: #BBB;

			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 4rem;
			margin-top: 10px;
		}		
}


/*tablet*/

@media only screen 
and (min-device-width : 600px) {

 .container {
 	flex-direction: row;
 } 

 .about {
 	position: sticky;
 	top: 0;

 	height: 50vh;
 	flex-basis: 20%;
 }

 .about img {
 	width: 20vw;
 }

 .main {
 	margin: 0 0 0 0.5em;
 }
}


/*desktop*/

@media only screen 
and (min-device-width : 1024px) {
	.about {
		height: 85vh;
	}
	.about, .main {
		padding: 1em;
	}
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table {
	width: 100%;
	cursor: pointer;
}

th {
	text-align: left;
	padding-left: 1em;

	font-weight: bold;
}

td,th{
	padding: 1vh;
}

table th:first-child {
	width: 20%;
}
table tr:first-child, table tr:last-child{
	border-bottom: 3px solid;
}

/*pre-next button*/

.pre-next {}

.pre-next a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.pre-next a:hover {
  background-color: #888;
  
}

.next, .previous {
  background-color: #FFF;
  color: black;	
}

/*block or none tr des*/
.slidedown_none {
	display: none;
}
.slidedown_body {
	display: table-row;
}

/*uitabs*/
		.ui-tabs {
			display: flex;
			flex-direction: column;
		}

		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		.ui-tabs .tabs {
				display: flex;
				justify-content: flex-end;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
		}

		.tab-content.current{
			display: inline-table;
		}




